@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');


body{
    font-family: 'Frijole', cursive;
    background: url("mundo_2.png");
}

.titulo{
    color:black;
    font-size: 64px;
    display: flex;
    justify-content: center;
}

#seleccionar_mascota{
    color: black;
    background-color: none;
    height: 100hv; /*100hv es para todo lo visible en pantalla*/
    display: flex; /*Manejar el display como flex*/
    flex-direction: column; /*Organizar los elementos por coumna*/
    justify-content: center;/*centrados*/
    align-items: center;/*alinear elementos en el centro*/
    border: 3px solid brown;
    margin: 100px;
    border-radius: 40px;
}


.tarjetas{
    display: flex;
    gap: 10px; 
}

.tarjeta_de_juego{
    font-size: 20px;
    color: black;
    width: 260px;
    height: 120px;
    background: none;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid brown;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta_de_juego img{
    width: 120px;
    height: 120px;
}

.sty_btn_seleccionar{
    font-family: 'Frijole', cursive;
    font-size: 20px;
    color:black;  
    background-color: brown;
    width: 200px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid brown;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    display: none;
}

#seleccionar_ataque{
    /*display: flex; no es necesario porque ya esta display flex en js*/ 
    flex-direction: column;
    align-items: center;
}

.boton_de_ataque{
    font-family: 'Frijole', cursive;
    background-color: brown;
    border-radius: 20px;
    width: 110px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border-color: black;
}

#Mensajes{
    margin-top: 20px;
    padding: 20px;
    width: 180px;
    background: brown;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Frijole', cursive;
    border-color: black;
    
}