@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body{
    font-family: 'Bungee Shade', cursive;   
    background: black;
}

.titulo{
    color:white;
    display: flex; /*Manejar el display como flex*/
    justify-content: center;/*centrados*/
}

#seleccionar_mascota{
    color: white;
    background-color: black;
    height: 100hv; /*100hv es para todo lo visible en pantalla*/
    display: flex; /*Manejar el display como flex*/
    flex-direction: column; /*Organizar los elementos por coumna*/
    justify-content: center;/*centrados*/
    align-items: center;/*alinear elementos en el centro*/
    border: 1px solid blue;
    margin: 100px;
    border-radius: 40px;
}

.tarjeta_de_juego{
    width: 200px;
    height: 120px;
    background: black;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas{
    display: flex;
    gap: 10px; 
}



.tarjeta_de_juego img{
    width: 80px;
    height: 80px;
}

.sty_btn_seleccionar{
    color:white;
    font-family: 'Bungee Shade', cursive;  
    background-color: black;
    width: 200px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    display: none
}